@import 'header';
@import 'login';
@import 'pgone';

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.search{
    text-align: center;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 5px;
    input{
        margin: 0;
        border-radius: 20px 0px 0px 20px;
        height: 25px;
        width: 300px;
        padding-top: 10px;
    }
    button{
        border-radius: 0px 20px 20px 0px;
        width: 50px;
        height: 41px;
        margin: 0;
        padding-bottom: 10px;
        margin-left: -4px;
    }
}
.filters{
    text-align: center;
}
.pgTwo{
    background-color:#dedede;
    .feature{
        width: 100%;
        height: 200px;
        background-color: black;
        img{
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            opacity: 0.5;
        }
    }
    .products{
        padding: 10px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
            
        .product{
            width: 50%;
            height: 50%;
            display: block;
            padding: 0px 5px 5px 0px;
            box-sizing: border-box;
            img{
                cursor: pointer;
                width: 100%;
                height: 50%;
                display: block;
            }
            .price{
                cursor: pointer;
                height: 20%;
                text-align: center;
                width: 100%;
                overflow: auto;
                h1{
                    font-size: 15px;
                    margin: 0;
                }
            }
            .cart{
                height: 30%;
                display: flex;
            }
            .preco{
                font-size: 25px;
                text-align: center;
                width: 50%;
                margin: auto;
            }
            button{
                cursor: pointer;
                color: green;
                background-color: green;
                background: url(imgs/cart.png);
                height: 100%;
                width: 50%;
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    
    }
}
.pgThree{
    background-color: #dedede;
    display: none;
    .prodInfo{
        width: 100%;
        height: 200px;
        background-color: black;
        img{
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            opacity: 0.5;
        }
    }
    .addProduct{
        display: inline-flex;
    }
    .cartFive{
            cursor: pointer;
            color: green;
            background-color: green;
            background: url(imgs/cart.png);
            height: 50px;
            width: 50%;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    }
    .quant{
        button{
            cursor: pointer;
            text-align: center;
            background: transparent;
            color: black;
            border-color: black;
            border-style: solid;
            height: 23px;
            width: 23px;
            border-radius: 72%;
            margin: auto;
        }
    }
}

@media only screen and (min-width: 780px){
    .pgTwo .feature{
        height: 400px;
    }
    .pgTwo .products{
        height: 400px;
    }

    .cat{
        display: flex;
        flex-wrap: nowrap;
    }

    .catLeft{
        width: 50%;
        overflow: hidden;
    }

    .catRight{
        width: 50%;
        overflow: hidden;
    }
}