@import 'header';
@import 'login';
@import 'pgone';
@import 'footer';

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.search{
    text-align: center;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 5px;
    input{
        box-sizing: border-box;
        margin: 0;
        height: 40px;
        width: 300px;
    }
    button{
        color: white;
        box-sizing: border-box;
        width: 100px;
        height: 40px;
        margin: 0;
        border: 0;
        box-shadow: 0;
        background-color: #233c7b;
    }

    button:hover{
        background-color: #f16365;
    }
}
.filters{
    text-align: center;

    button{
        border: 0;
        box-shadow: 0;
        background-color: #233c7b;
        height: 40px;
        margin: 5px 10px;
        color: white;
    }

    button:hover{
        background-color: #f16365;
    }
}
.pgTwo{
    display: none; 
    .feature{
        width: 100%;
        img{
            width: 100%;
            display: block;
            margin: auto;
        }
    }
    .products{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
            
        .product{
            width: 50%;
            display: block;
            padding: 15px 5px;
            box-sizing: border-box;
            img{
                cursor: pointer;
                width: 100%;
                display: block;
            }
            .price{
                cursor: pointer;
                width: 100%;
                overflow: auto;
                margin-top: 10px;
                h1{
                    font-size: 15px;
                    margin: 0;
                }
            }
            .cart{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }
            .preco{
                font-size: 25px;
                width: 50%;
            }
            button{
                cursor: pointer;
                color: green;
                background-color: green;
                background: url(imgs/cart.png);
                height: 70px;
                width: 70px;
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                padding: 0;
                margin: 0;
            }
        }
    
    }
}
.pgThree{
    display: none;
    margin: 20px 0;

    p{
        text-align: center;
    }

    .prodInfo{
        width: 100%;

        img{
            // width: 100%;
            display: block;
            margin: auto;
        }
    }
    .addProduct{
        display: inline-flex;
    }
    .cartFive{
            margin-left: 30px;
            cursor: pointer;
            color: green;
            background-color: green;
            background: url(imgs/cart.png);
            height: 70px;
            width: 70px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    }
    .quant{
        margin: auto;
        text-align: center;

        button{
            cursor: pointer;
            text-align: center;
            background: transparent;
            color: black;
            border-color: black;
            border-style: solid;
            height: 23px;
            width: 23px;
            border-radius: 72%;
            margin: auto;
        }
    }

    .addProduct{
        display: flex;
        justify-content: center;
    }

    .prodValue{
        margin: auto;
        text-align: center;
        margin: 10px 0;
    }
}
.myCart{
    color: white;
    position: fixed;
    height: 80%;
    bottom: 0;
    width: 100%;
    background-color: #233c7b;
    transform: translateY(89.5%);
    transition: 1s;
    .cartHeader{
        border: solid white 1px;
        height: 10%;
        display: flex;
        align-content: space-between;
        .numItens{
            margin: auto;
        }
        .valorTotal{
            margin: auto;
        }
    }
    .cartPar{
        width: 100%;
        display: flex;
        .cartQuantTag{
            border: solid white 1px;
            text-align: center;
    width: 25%;

        }
        .cartNameTag{
            border: solid white 1px;
            text-align: center;
    width: 50%;

        }
        .cartPriceTag{
            border: solid white 1px;
            text-align: center;
            width: 25%;
        }
    }
    .cartProd{
        display:flex;
    }
    .quant2{
        padding-top: 5px;
        padding-bottom: 5px;
        border: solid white 1px;
        width: 25%;
            margin: auto;
            text-align: center;
    
            button{
                cursor: pointer;
                text-align: center;
                background: transparent;
                color: white;
                border-color: white;
                border-style: solid;
                height: 23px;
                width: 23px;
                border-radius: 72%;
                margin: auto;
            }
        }
        .cartName{
            padding-top: 5px;
            padding-bottom: 5px;
            border: solid white 1px;
            text-align: center;
            width: 50%;
        }
        .cartPrice{
            padding-top: 5px;
            padding-bottom: 5px;
            border: solid white 1px;
            text-align: center;
            width: 25%;
        }
}
.displayed3{
    transform: translateY(0%);
}

@media only screen and (min-width: 780px){
    .cat{
        display: flex;
        flex-wrap: nowrap;
    }

    .catLeft{
        width: 50%;
        overflow: hidden;
    }

    .catRight{
        width: 50%;
        overflow: hidden;
    }

    .pgTwo{
        .price{
            font-size: 1.3em;
        }
    }
}

@media only screen and (max-width: 450px){
    .search{
        input{
            width: 200px;
        }
    }

    .pgTwo .products .product .cart{
            display: block;
        }
}

@media only screen and (max-width: 660px){
    .pgThree{
        .prodInfo{
            img{
                width: 100%;
            }
        }
    }
}